        <footer class="footer">
            <div class="links container single-column"><a target="_blank" href="https://github.com/overtrue/overtrue.github.io">GitHub</a> <a target="_blank" href="https://pages.github.com/">POWERED BY GitHub Pages</a></div>
        </footer>
        <div class="hidden">
        <script>
        $('.bg-image').each(function(){ if($(this).data('src')) $(this).css('background-image', $(this).data('src')) });
        $('.sidebar-switch').click(function(){
            var sidebar = $('.sidebar');
            var width = sidebar.width() + 40;

            if ($('html').css('padding-left') != '0px') {
                $('html').animate({paddingLeft: 0}, 100);
            } else {
                $('html').animate({paddingLeft: width}, 100);
            }
        });

          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-55452630-1', 'auto');
          ga('send', 'pageview');

          var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
          document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3894395ec060e3e4d0d9397bb5c7dff9' type='text/javascript'%3E%3C/script%3E"));

</script>
</div>
</body>
</html>