<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="description" content="{{ page.excerpt }}">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/typo.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/js/highlight/styles/github.css">
    <script src="/assets/js/jquery-2.1.1.min.js"></script>
</head>
<body class="typo">
    <div class="metabar">
        <div class="sidebar-switch "><i class="ion-navicon"></i></div>
    </div>
    <div class="sidebar">
        <ul class="menu">
            <li><a href="/"><i class="ion-ios7-home"></i>首页</a></li>
            <li><a href="/"><i class="ion-ios7-paper"></i>博客</a></li>
            <li><a href="/open-source"><i class="ion-social-github"></i>开源</a></li>
            <li><a target="_blank" href="https://github.com/overtrue"><i class="ion-social-github"></i>GitHub</a></li>
            <li><a href="/about"><i class="ion-ios7-person"></i>关于</a></li>
        </ul>
    </div>