<script src="{{ site.url }}/assets/js/sns.js"></script>
<div class="sns-share">
    <i data-id="1">
        <svg><use xlink:href="{{ site.url }}/assets/images/sns.svg#icon-iconfont-sina" transform="translate(0 0)"></use></svg>
    </i>
    <i data-id="2">
        <svg><use xlink:href="{{ site.url }}/assets/images/sns.svg#icon-iconfont-qq" transform="translate(0 0)"></use></svg>
    </i>
    <i data-id="3">
        <svg><use xlink:href="{{ site.url }}/assets/images/sns.svg#icon-iconfont-renren" transform="translate(0 0)"></use></svg>
    </i>
    <i data-id="5">
        <svg><use xlink:href="{{ site.url }}/assets/images/sns.svg#icon-iconfont-douban" transform="translate(0 0)"></use></svg>
    </i>
    <script type="text/javascript">
        $(document).ready(function(){
            SNS.init({});
            $('.sns-share i').click(function(){
                SNS.share($(this).data('id'));
            });

        });
        </script>
</div>