<script src="{{ site.url }}/assets/js/sns.js"></script>
<div class="sns-share">
    <i id="btn_share_sina">
        <svg><use xlink:href="{{ site.url }}/assets/images/sns.svg#icon-iconfont-sina"></use></svg>
    </i>
    <i id="btn_shares_qq">
        <svg><use xlink:href="{{ site.url }}/assets/images/sns.svg#icon-iconfont-qq"></use></svg>
    </i>
    <i id="btn_share_renren">
        <svg><use xlink:href="{{ site.url }}/assets/images/sns.svg#icon-iconfont-renren"></use></svg>
    </i>
    <i id="btn_share_douban">
        <svg><use xlink:href="{{ site.url }}/assets/images/sns.svg#icon-iconfont-douban"></use></svg>
    </i>
    <script type="text/javascript">
        $(document).ready(function(){
            var newConfig={
                //分享URL
                sharedomain:'',
                //分享标题
                title:'',
                //分享文案
                description:'',
                //分享图片相对路径
                pic:'',
                //分享新开窗口 默认_blank
                w:''
            };
            SNS.init(newConfig);
            //新浪
            $('btn_share_sina').onclick=function(){
                SNS.share(1);
            };
            //QQ
            $('btn_shares_qq').onclick=function(){
                SNS.share(2);
            };
            //人人
            $('btn_share_renren').onclick=function(){
                SNS.share(3);
            };
            //开心
            $('btn_share_kaixin').onclick=function(){
                SNS.share(4);
            };
            //豆瓣
            $('btn_share_douban').onclick=function(){
                SNS.share(5);
            };
        });
        </script>
</div>