{% include header.html %}
<div class="bg-image" style="background-image:url(/assets/images/header-bg.jpg)">
    <header class="header text-center container single-column">
        <h1 class="logo">Overtrue</h1>
        <p class="signature">安正超，码农，手艺人。</p>
        <!-- <div class="links">
            <a href="#" class="ion-social-github"></a>
        </div> -->
    </header>
    <nav class="nav-tabs container single-column">
        <ul>
            <li {% if page.menu == 'blog' || !page.menu %}class="active"{% endif %}><a href="/">blog</a></li>
            <li {% if page.menu == 'open-source' %}class="active"{% endif %}><a href="/open-source.html">open-source</a></li>
            <li {% if page.menu == 'about' %}class="active"{% endif %}><a href="/about.html">about</a></li>
        </ul>
    </nav>
</div>
<div class="wrap typo bg-white">
{{ content }}
</div>
{% include footer.html %}